/*este es el codigo css de la pagina principal*/

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url(..//IMAGENES/fondo_nuevo.jpg);
  font-family: Arial, Helvetica, sans-serif;
  color: #006AB8;
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*El ancho del logo, colocado en el header*/
.Logo {
  width: 100px;
}

/*Codigo CSS de la cabecera principal*/
header {
  padding: 0%;
  margin: 0%;
  margin-bottom: 50px;
  background-color: #080d11;
  border: 2px solid grey;
  box-shadow: 0 0 35px 0 rgb(255, 255, 255);
  font-size: 30px;
  text-shadow: 3px 3px 6px rgba(0, 0, 255, 10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 40;
}

/*El siguiente codigo es basicamente para decirle al navegador como poner el header se alguien modifica el tamaño*/
@media (min-width:600px) {
  header {
    flex-direction: row;
    padding: 0px 30px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

/*Titulos de la pagina principal*/
h1,
h2 {
  text-align: center;
  color: white;
  padding: 0%;
  margin: 0%;
  margin-right: auto;
  margin-bottom: 10px;
}

h4 {
  font-weight: bold;
  margin: 0;
  text-align: center;
}

h4 {
  font-size: 25px;
  text-align: center;
}

/*este codigo es basicamente todo lo relacionado a los botones*/
.btn_pagina1 {
  width: 140px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
}

.btn_pagina1:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.btn_pagina1:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.btn_pagina1:hover {
  box-shadow: 0 5px 15px rgba(253, 253, 253, 0.5);
}

.btn_pagina1:hover:before {
  border-color: #ffffff;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.btn_pagina1:hover:after {
  border-color: #1100ff;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

button {
  color: rgb(218, 218, 218);
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

button {
  color: rgb(233, 233, 233);
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

/*Codigo del cuadrado grande la pagina principal o en otras palabras todo el contenido de la pagina*/
.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.divcentro {
  color: #FFF;
  box-shadow: 0 0 35px rgba(169, 169, 208, 0.278);
  text-align: left;
  height: auto;
  font-size: larger;
  background-color: rgba(41, 41, 41, 0.938);
  max-width: 980px;
  border-radius: 7px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16%;
}

.content-buttons {
  text-align: center;
  margin-top: 1rem;
}

.content-buttons a {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  background-color: #0080DE;
  color: #FFF;
  text-transform: uppercase;
}

.content-buttons a:hover {
  background-color: #006AB8;
}

.catalogo {
  margin-left: 85%;
}

.content-text a {
  color: #0080DE;
  text-decoration: none;
}

.content-text a:hover {
  color: #006AB8;
  text-decoration: underline;
  text-align: justify;
}

.inicio_y_registro {
  display: flex;
  flex-direction: row;
  float: right;
}

.conteiner {
  display: flex;
  width: 90%;
  padding: 100px;
  height: 100px;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.conteiner_data {
  text-align: left;
  color: white;
  margin: auto;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-repeat: no-repeat;
}

.Botons {
  text-align: center;
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.Botons:focus,
.Botons:hover {
  color: #fff;
}

.Botons:focus:after,
.Botons:hover:after {
  width: 100%;
  left: 0%;
}

.Botons:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


/*ESte siguiente codigo se trata del pop up (no tocar) aun no se va a poner */
.window-notice {
  background: rgba(33, 41, 52, .85);
  bottom: 0;
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  transition: background .6s;
}

.window-notice .content {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px;
  min-width: 320px !important;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 2rem;
  font-size: 1.3rem;
}

/*Codigo del carousel, aun se ocupa ver como poner texto abajo*/
.carousel {
  position: relative;
  border: 2px solid #ccc;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-open:checked+.carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
  top: 27%;
  bottom: 27%;
}

.carousel-control.next {
  right: 2%;
  top: 27%;
  bottom: 27%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked~.control-1,
#carousel-2:checked~.control-2,
#carousel-3:checked~.control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 25px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
  color: #428bca;
}

/*Codigo del footer*/
footer {
  margin-top: 10%;
  display: grid;
  place-items: bottom;
  text-align: center;
  padding: 0%;
  margin: 0%;
  background-color: #080d11;
  border: 2px solid black;
  box-shadow: 0 0 35px 0 rgb(255, 255, 255);
  font-size: 30px;
  text-shadow: 3px 3px 6px rgba(0, 0, 255, 10);
  display: flex;
  align-items: center;
  height: 150px;
  align-self: center;
  flex-direction: column;
}

/*Los links que se encuentran dentro del footer*/
.Botons {
  text-align: center;
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.Botons:focus,
.Botons:hover {
  color: #fff;
}

.Botons:focus:after,
.Botons:hover:after {
  width: 100%;
  left: 0%;
}

.Botons:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


/*Codigo solo para los enlaces del footer*/
a {
  text-decoration: none;
  color: white;
}

/**
  .reunion{
  
  }
  **/
.reunion {
  font-family: Arial, Helvetica, sans-serif;
  height: 300px;
  display: flex;
  box-shadow: 0 0 35px rgba(169, 169, 208, 0.278);
  margin-right: 600px;
  height: auto;
  width: 95%;
  background-color: rgba(41, 41, 41, 0.938);
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 4%;
  margin-left: 2%;
}


.imagen {
  margin-top: 50px;
  height: 350px;
  width: 650px;
  margin-bottom: 50px;
}

.equipo {
  margin-top: 50px;
  width: 1000px;
  color: white;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  margin-right: 100px;

}

.titulo1 {
  text-align: center;
  margin-top: 30px;
  margin-left: 30px;

}

.Agradecimiento {
  text-align: center;
}

/*Codigo del boton de encargar*/
.botonbuy {
  display: grid;
  justify-content: center;
}

.buttoncomprar {
  background-color: #ffffff00;
  color: #fff;
  width: 9.5em;
  height: 2.9em;
  border: #ffffff 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}

.buttoncomprar:hover {
  background-color: #2093ff;
  color: #000
}

.buttoncomprar svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.buttoncomprar:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0 1.5em
}