/* estilos para todo el body */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    font-family: Arial, sans-serif;
    color: #fff;
    background: url(..//IMAGENES/fondiu_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*estilo para todo el formulario en general*/
.inicio_sesion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/*estilos para el fieldset y en si todo el formulario*/
fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 600px;
    border: 2px solid #0ff;
    border-radius: 10px;
    padding: 40px;
    background-color: #111;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.7);
    animation: fadeIn 1.5s ease-in-out;
    transition: transform 0.3s ease;
}

legend {
    color: #0ff;
    font-size: 2em;
    text-align: center;
}

/*Estilos para los diferentes inputs que se encuentran en el formulario*/
input[type="text"],
input[type="password"],
button[type="submit"] {
    width: calc(100% - 20px);
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #0ff;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    transform: scale(1.05);
    box-shadow: 0 0 10px #0ff;
}

/*ëstilos para el boton de envio*/
button[type="submit"] {
    width: calc(100% - 20px);
    background-color: #0ff;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #0cc;
    transform: scale(1.05);
}

label,
p {
    margin: 15px 0;
    color: #fff;
}

/*estilos para todo lo relacionado a los enlaces de la pagina*/

a {
    color: #0ff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0cc;
}


/*codigo para hacer el formulario responsive*/

@media (max-width: 600px) {
    fieldset {
        width: 90%;
        padding: 20px;
    }

    input[type="text"],
    input[type="password"],
    button[type="submit"] {
        width: calc(100% - 20px);
    }
}

/*! Animaciones */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*estilos para el checkbox*/
input[type="checkbox"] {
    width: auto;
    color: gray;
}

input[type="checkbox"]:hover {
    color: green;
}

.corporate {
    text-align: right;
}